<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQL8Dialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost/final_project_database
      </property>
      
      <property name = "hibernate.connection.username">
         final_project
      </property>
      
      <property name = "hibernate.connection.password">
         final_project
      </property>
      <property name="hbm2ddl.auto">update</property>
      
      <!-- List of XML mapping files -->
      <mapping class = "model.AdoptDetails.AdopterDetails"/>
      <mapping class = "model.UserAccount.VisitorAccount"/>
      <mapping class = "model.AdoptDetails.AdoptHistory"/>
      <mapping class = "model.Animal.AnimalDetails"/>
      <mapping class = "model.Network.NetworkDetails"/>
      <mapping class = "model.Enterprises.EnterpriseDetails"/>
      <mapping class = "model.WorkQueue.AllWorkRequest"/>
      <mapping class = "model.UserAccount.UserAccount"/>
      <mapping class = "model.Employees.EmployeeDetails"/>
      <mapping class = "model.Animal.AnimalStatusDetails"/>
      <mapping class = "model.Treatment.TreatmentRecord"/>
      <mapping class = "model.Place.PlaceDetails"/>
      <mapping class = "model.Medicines.MedicineDetails"/>
      <mapping class = "model.Role.AllRoles"/>
      <mapping class = "model.Organisation.OrganisationMain"/>
      <mapping class = "model.Enterprises.RescueCenterEntDetails"/>
      <mapping class = "model.ShelterCell.ShelterCellDetails"/>
      <mapping class = "model.RescueRecord.RescueRecordDetails"/>
      <mapping class = "model.Deliver.DeliveryDetails"/>
      <mapping class = "model.Cages.CageDetail"/>
      <mapping class = "model.AdoptDetails.AdoptionOffered"/>
      <mapping class = "model.Organisation.VeterinarianOrganisation"/>
      <mapping class = "model.Organisation.AdoptionOrganisation"/>
      <mapping class = "model.UserAccount.UserAccount"/>
      <mapping class = "model.UserAccount.UserAccount"/>
      <mapping class = "model.UserAccount.UserAccount"/>
      <mapping class = "model.UserAccount.UserAccount"/>
      

      
      
   </session-factory>
</hibernate-configuration>

